*{
    padding: 0;
    margin: 0;
}
html,body {
    height: 100%;
    font-family:'Roboto', sans-serif;
}

button {
    display: block;
    border: none;
    background: #f5042b;
    padding: 1em;
    color: #fefefe;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
     background-color: #353535; 
    align-items: center;
}
.container.dark {
    background-color: #353535;
     transition: background-color 3s;
}
.container.light {
    background-color: #f3f3f3;
     transition: background-color 3s;
}
.auth-box {
    width: 50%;
    padding: 1em;
    position: absolute;
    top: 10px;
}
#work-time {
    flex-grow: 1;
    width: 40%;
    color: #f5042b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

#work-time-text {

    font-family: 'Lobster', cursive;
}

.theme-setter {
    position: absolute;
    padding: 1px;
    display: flex;
    bottom: 0;
    right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    border:1px solid green;
}
.theme-box {

    width: 30px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
}
.theme-box.light {

    background-color: #fff;
}
.theme-box.dark {

    background-color: #333;
   
}
footer {
    padding: 1em;
    color: #ffa4a4;
}

footer a{
    color: red;
    text-decoration: none;
}

#calendar {
  margin: 10px;
  font-size: 18px;
}
.month {
  margin-right: 8px;
}
.month-name {
  font-size: 85%;
  fill: #777;
  font-family: Arial, Helvetica;
}
.day.hover {
  stroke: #6d6E70;
  stroke-width: 2;
}
.day.focus {
  stroke: #ffff33;
  stroke-width: 2;
}